@model ReleaseSpence.Models.ImagenesCreate
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div style="padding:20px;">
@Html.ActionLink("Volver", "Index", "Imagenes", new { }, new { @class = "btn btn-primary" })
<h2>Nuevo Plano</h2>

@using (Html.BeginForm("Create", "Imagenes", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<table class="table table-bordered">
		<tr>
			<td>
				@Html.LabelFor(model => model.nombre, new { @class = "control-label" })<br />
				@Html.ValidationMessageFor(model => model.nombre)
			</td>
			<td>
				@Html.EditorFor(model => model.nombre)
			</td>
		</tr>
		<tr>
			<td>
				@Html.LabelFor(model => model.archivo, new { @class = "control-label" })<br />
				@Html.ValidationMessageFor(model => model.archivo)
			</td>
			<td>
				<input type="file" name="archivo" id="archivo" style="max-width:none;" />
			</td>
		</tr>
		<tr>
			<td>
				<label class="control-label" for="idTipos">
					Tipos de sensor<br />
					con los que usara<br />
					este plano
				</label>
			</td>
			<td>
				@Html.ListBox("idTipos")
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" id="enviar" class="btn btn-success" value="Crear">
			</td>
		</tr>
	</table>
}
</div>