@model ReleaseSpence.Models.Sensores

<script type="text/javascript">
	$(document).ready(function () {
		$("#dialog").modal({ show: true });
		$("#cerrar").click(function () {
			$("#dialog").modal("hide");
		});
	});
</script>

<dl class="dl-horizontal">
	<dt>
		@Html.DisplayNameFor(model => model.nombre)
	</dt>

	<dd>
		@Html.DisplayFor(model => model.nombre)
	</dd>

	<dt>
		@Html.DisplayName("Figura")
	</dt>

	<dd>
		@Html.DisplayFor(model => model.Figuras.nombre)
	</dd>

	<dt>
		@Html.DisplayName("Tipo de Sensor")
	</dt>

	<dd>
		@Html.DisplayFor(model => model.TipoSensores.nombre)
	</dd>

</dl>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="form-actions no-color">
		<input type="button" class="btn btn-primary" name="cerrar" id="cerrar" value="Cancelar"> <input type="submit" class="btn btn-danger" name="enviar" id="enviar" value="Eliminar" />
	</div>
}