@model ReleaseSpence.Models.Punto_de_Monitoreo
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div style="padding:20px;">
    <h2>Editar Punto de Monitoreo</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.idPuntoMonitoreo)

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.idFigura, "idFigura", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idFigura", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFigura, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cotaTierra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cotaTierra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cotaTierra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.carpeta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.carpeta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.carpeta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver", "Index", "PuntoDeMonitoreo", new { }, new { @class = "btn btn-primary" })
                <input type="submit" value="Guardar Datos" class="btn btn-warning" />
            </div>
        </div>
    </div>
    }
</div>