@model List<ReleaseSpence.Models.Datos_piezometro>
@{Layout = "~/Views/Shared/_Layout.cshtml";}
@using System.Globalization

<script type="text/javascript">
	$(document).ready(function () {
		@{  string datos = "";
            foreach(var item in Model)
            {
                datos += "['" + item.fecha.ToString("yyyy-MM-dd H:mm:ss") + "', " + item.cotaAgua.ToString().Replace(",", ".") + ", 5, item.fecha.ToString("yyyy - MM - dd H: mm: ss")] ,";
            }
            if (datos.Length > 2) { datos = datos.Substring(0, datos.Length - 2); }
            else { datos = "['" + DateTime.Now.ToString("yyyy-MM-dd H:mm:ss") + "', 0]"; }
		}
		var line1 = [@{ WriteLiteral(datos); }];
		var lineamax1 = [['@ViewBag.primero.ToString("yyyy-MM-dd H:mm:ss")', @ViewBag.ultimo.maxLimit], ['@ViewBag.hasta.ToString("yyyy-MM-dd H:mm:ss")', @ViewBag.sensor.maxLimit]];
		var lineamin1 = [['@ViewBag.desde.ToString("yyyy-MM-dd H:mm:ss")', @ViewBag.primero.minLimit], ['@ViewBag.hasta.ToString("yyyy-MM-dd H:mm:ss")', @ViewBag.sensor.minLimit]];
		var plot1 = $.jqplot('chart1', [line1, lineamax1, lineamin1], {
		    title: 'Se han obtenido @Model.Count puntos procesando @ViewBag.sensor.minLimit datos<br>@ViewBag.sensor.nombre - Cota de Agua',
			axes: {
				xaxis: { renderer: $.jqplot.DateAxisRenderer, tickOptions: { formatString: '%d-%m-%Y<br>%H:%M:%S' } },
				yaxis: { label: 'MSNM', labelRenderer: $.jqplot.CanvasAxisLabelRenderer, pad: 1.1 }
			},
			series: [{ lineWidth: 1, markerOptions: { show: false } }, { lineWidth: 1, color: "#ff0000", markerOptions: { style: "filledCircle", size: 3 } }, { lineWidth: 1, color: "#ff0000", markerOptions: { style: "filledCircle", size: 3 } }]
		});

		$("#1d").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1d&hasta=1d");
		$("#1s").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1s&hasta=1s");
		$("#1m").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1m&hasta=1m");
		$("#3m").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=3m&hasta=3m");
		$("#1a").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1a&hasta=1a");
		$("#refreshlink").attr("href", "@Model.Count?idTipo=@ViewBag.total&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=" + $("#desde").val().replace(/:/g, "").replace(/-/g, "").replace(" ", "") + "&hasta=" + $("#hasta").val().replace(/:/g, "").replace(/-/g, "").replace(" ", ""));
		$(".autolink").change(function (e) {
			$("#1d").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1d&hasta=1d");
			$("#1s").attr("href", "@ViewBag.id?idTipo=@ViewBag.dTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1s&hasta=1s");
			$("#1m").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1m&hasta=1m");
			$("#3m").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=3m&hasta=3m");
			$("#1a").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=1a&hasta=1a");
			$("#refreshlink").attr("href", "@ViewBag.id?idTipo=@ViewBag.idTipo&precision=" + $("#precision").is(":checked") + "&datos=" + $("#datos").val() + "&desde=" + $("#desde").val().replace(/:/g, "").replace(/-/g, "").replace(" ", "") + "&hasta=" + $("#hasta").val().replace(/:/g, "").replace(/-/g, "").replace(" ", ""));
		});

		$("#ayuda").click(function (e) {
			$("#dialogayuda").modal({ show: true });
		});
		$("#cerrarayuda").click(function () {
			$("#dialogayuda").modal("hide");
		});
		$("#dtp_desde").datetimepicker();
		$("#dtp_hasta").datetimepicker();
	});
</script>
<div class="bs-example">
	<form class="form-inline" role="form">
		<div class="form-group" style="width:180px;">
			<label for="datos">
				Puntos aproximados a graficar
			</label>
			<input type="number" class="form-control autolink" id="datos" value="@ViewBag.datos" placeholder="100">
		</div>
		<div class="form-group" style="width:180px;">
			<label for="precision">Maxima precision</label>
			<input type="checkbox" @(ViewBag.precision ? "checked" : "") class="form-control autolink" id="precision">
		</div>
		<div class="form-group" style="width:200px;">
			<label for="desde">Desde</label>
			<div class='input-group date autolink' id='dtp_desde'>
				<input type='text' class="form-control" id="desde" data-date-format="DD-MM-YYYY HH:mm:ss" value="@ViewBag.desde.ToString("dd-MM-yyyy HH:mm:ss")" />
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>
		<div class="form-group" style="width:200px;">
			<label for="grupo">Hasta</label>
			<div class='input-group date autolink' id='dtp_hasta'>
				<input type='text' class="form-control" id="hasta" data-date-format="DD-MM-YYYY HH:mm:ss" value="@ViewBag.id" />
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>
		<div class="form-group" style="width:250px;">
			<label for="grupo">Ver los últimos datos</label>
			<div class="btn-group" role="group" aria-label="...">
				<a id="1d" class="btn btn-default" href="">1d</a>
				<a id="1s" class="btn btn-default" href="">1s</a>
				<a id="1m" class="btn btn-default" href="">1m</a>
				<a id="3m" class="btn btn-default" href="">3m</a>
				<a id="1a" class="btn btn-default" href="">1a</a>
			</div>
		</div>
		<a id="refreshlink" class="btn btn-primary" href="">Refrescar</a>
		<a id="ayuda" class="btn btn-info"><span class="glyphicon glyphicon-question-sign" title="Ayuda"></span></a>
	</form>
</div>
<div id="chart1" style="width:1200px; height:600px;"></div>

<div id="dialogayuda" class="modal fade">
	<div id="Mdayuda" class="modal-dialog">
		<div id="Cdayuda" class="modal-content" style="padding:20px;">
			<h4>Ayuda</h4>
			<b>Puntos a graficar:</b> Es la cantidad de puntos que deberia tener el grafico, entre mayor sea el numero, mayor sera la cantidad de datos que se consultaran a la base de datos y el zoom del grafico sera mas alejado.<br />
			<b>Promediar datos:</b> Es la cantidad de datos que seran agrupados para calcular cada dato promedio, con este numero en 2, se mostrarian promedios cada 2 datos, siendo estos 1 punto en el grafico, entre mas alto sea este numero menor sera la precision de los datos pero sera mayor el intervalo de tiempo resultado.
			Este numero no afectara a la cantidad de puntos mostrados en el grafico, sino la cantidad de datos consultados a la base de datos.<br />
			Un grafico con 200 puntos que se promedia cada 3 datos consultara un total de 600 datos a la base de datos.<br />
			Los datos de maxima precision son obtenidos con el valor de promediar = 1.
			<br /><br />
			<div class="form-actions no-color">
				<input type="button" class="btn btn-primary" name="cerrar" id="cerrarayuda" value="Cerrar">
			</div>
		</div>
	</div>
</div>
@{                                           __o = ViewBag.idTipo;}